body{
    margin: 0;
    padding: 0;
}
.logo{
    width: 5rem;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(172, 189, 207);
    padding: 0.5rem;
}
nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
nav ul li{
    margin: 0 1rem;

}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
}

nav ul li a:hover{
    border-bottom: 2px solid;
    color: rgb(108, 142, 172);
}